@charset "UTF-8";

version-board {
    float: left;
    margin: 5px 0 0 0;

    font-size: 11px;
    font-family: Verdana, serif;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 2px 5px;
    color: white;
}
