@charset "UTF-8";

board hr {
    height: 1px;
    width: 100%;
    background: white;
    margin: 0;
    border: none;

    position: absolute;
    left: 0;
    top: auto;
}

board vr {
    height: 100%;
    width: 1px;
    background: white;
    margin: 0;
    border: none;

    position: absolute;
    left: auto;
    top: 0;
}
