@charset "UTF-8";

snake-item {
    width: auto;
    height: auto;
    display: block;

    background: darkcyan;
    box-shadow: 0 0 1px #000;
    border-radius: 2px;

    position: absolute;
    left: -9999px;
    top: -9999px;
}

snake-item:nth-of-type(1) {
    background: #017777;
}
