@charset "UTF-8";

snake {
    width: auto;
    height: auto;
    display: block;

    background: darkcyan;
    box-shadow: 0 0 1px #000;
    border-radius: 2px;
    position: absolute;
    left: auto;
    top: auto;
}
