@charset "UTF-8";

game {
    width: 100px;
    height: 100px;
    display: block;

    background: whitesmoke;
    border: 5px solid darkcyan;
    box-shadow: 1px 1px 3px #000;
    border-radius: 2px;
    margin: 5px;

    position: relative;
}
