@charset "UTF-8";

scoreboard {
    position: absolute;
    left: 1px;
    top: 1px;
    font-size: 11px;
    font-family: Verdana, serif;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 2px 5px;
    color: white;
}
