@charset "UTF-8";

project-board {
    float: right;
    margin: 0 0 5px 0;

    font-size: 11px;
    font-family: Verdana, serif;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 2px 5px;
    color: white;
    cursor: pointer;
}

project-board:hover {
    color: #000;
}
